.LikedFilm {

    margin: 10px;
    border-radius: 10px;
    --display-options: "none";
    --scale-options: 0;

    img {
        border-radius: 10px;
        width: 300px;
    }

    &:hover {
        background-color: gray;
        --scale-options: 1;
    }

    .LikeOptions {
        scale: var(--scale-options);
        padding: 10px 0;
    }

}