.WatchlistPopUp {
  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    background: rgba(0, 0, 0, 0.5);
  }

  .Content {
    width: 75vw;
    height: 50vw;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border-radius: 16px;
    overflow: auto;
  }

  .header {
    background-color: #222222;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;

    h3 {
      font-size: 5vw;
    }

    i {
      font-size: 5vw;
      transition: scale 500ms;
    }

    i:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }

  .ContentFilms {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, 17vw);
    text-align: center;
    justify-content: center;
    margin: 5px;
  }

  .ContentFilms > div {
    justify-self: center;
    margin: 10px;
  }
}
