.Error404 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  h2 {
    font-size: 48px;
    font-family: "Libre Barcode 39 Text";
    color: white;
    text-align: center;
    margin: 10px;
  }

  img {
    text-align: center;
    width: 25%;
    height: 25%;
    margin-bottom: 40px;
  }
}
