@import "../Header/Header.module.scss";
.Error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  max-width: 1800px;
  font-family: $font-for-title;
  font-stretch: condensed;
  font-size: 4em;
  text-align: center;

  img {
    width: 40vh;
    max-width: 500px;
    margin-bottom: 2rem;
  }
}
