@import "../Header/Header.module.scss";
.Ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  table {
    font-family: $font-for-text;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
  }

  a {
    color: white;
    margin: 10px;
    text-align: left !important;
  }

  thead {
    background-color: brown;
  }

  tr {
    background-color: blue;
  }

  button {
    background-color: blue;
    border: none;
    font-family: $font-for-text;
    border-radius: 10px;
  }

  button:hover {
    background-color: brown;
  }

  td,
  th {
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    padding: 10px;
  }

  img {
    height: 100px;
    justify-self: center;
    border-radius: 10px;
  }
}
