.WatchlistFolder{
        border: 2px solid white;
        border-radius: 24px;
        text-align: center;
        backdrop-filter: blur(5px);
        height: 250px;
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        transition: scale 500ms, border 500ms;

    span{
        color:bisque;
        font-size: 42px;
        display: table-cell;
        vertical-align: middle;
        transition: scale 500ms;
    }

    span:hover{
        scale: 1.1;
    }
}

.WatchlistFolder:hover{
    scale: 1.1;
    border: none;
}

