.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  Table {
    font-family: "Fira Mono";
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
  }

  thead {
    margin-right: 20px;
    width: 100%;
  }
  th {
    border-bottom: 2px solid white;
  }

  td {
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    padding: 10px;
  }
  td:first-child {
    border-right: none;
  }
  td:nth-child(2) {
    text-align: left;
  }

  .MoviePoster {
    height: 150px;
    border-radius: 10px;
    width: auto;
  }

  .Link:hover {
    border-bottom: 1px solid white;
  }

  .Link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "Fira Mono";
    margin: 10px;
  }
  .Link:visited {
    color: gray;
    border-bottom: 1px solid darkgray;
  }
}
