$font-for-title: "Libre Barcode 39 Text" /*"Merriweather", serif*/;
$font-for-text: "Helvetica" /*"Libre Franklin", sans-serif*/;

.Header {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  font-family: $font-for-text;
  font-size: 2.7vh;
  // height: 10vh;
  width: 100%;

  a {
    text-decoration: none;
  }
  
  .GoUp {
    text-decoration: none;
    color: white;
    background-color: #8b8b8b;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }

  .MenuItem,
  .Logo,
  .Profile,
  .SignIn,
  .SignUp {
    color: black;
    margin: 0 10px;
  }

  .MenuItem:hover {
    scale: 1.1;
    transition: 100ms;
  }

  .Logo {
    font-family: "Libre Barcode 39 Text";
    font-size: 10vh;
  }
  .Logo:hover {
    color: black;
    scale: 1.03;
  }

  .Search {
    .SearchInput {
      display: flex;
      align-items: center;
    }
    input::placeholder {
      font-size: 3vh;
      padding: 5px;
      opacity: 0.5;
    }
    input {
      font-size: 3vh;
      height: 5vh;
      border-radius: 10px;
      font-family: $font-for-text;
      width: 40vh;
      border: 2px solid black;
    }

    input::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      margin-right: 5px;
      font-family: "Material Icons";
      content: url("../../../public/close_icon.svg");
      fill: yellow;
      transition: scale 500ms;
    }

    input::-webkit-search-cancel-button:hover {
      scale: 1.2;
    }

    i {
      margin-top: 7px;
      font-size: 4vh;
    }
  }
  .Dropdown {
    .Profile {
      display: flex;
      align-items: center;
      height: 100%;
    }

    button {
      border: none;
      background-color: white;
      font-family: $font-for-text;
      font-size: 2.5vh;
      height: 10vh;
      img,
      object {
        width: 7vh;
        height: 7vh;
        object-fit: fill;
        border-radius: 100%;
        margin-left: 10px;
      }
    }

    .DropdownContent {
      display: none;
      position: absolute;
      top: 10vh;
      right: 0;
      width: 15vw;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a:first-child {
        border-bottom: 1px solid #343434;
        font-size: 2vh;
      }
      a:hover:not(a:first-child) {
        background-color: #ddd;
      }
    }
  }

  .Dropdown:hover .DropdownContent {
    display: block;
  }
  .Dropdown:hover .Profile {
    background-color: white;
  }

  .Auth {
    .SignIn {
      padding: 8px;
    }

    .SignIn:hover {
      scale: 1.1;
      transition: 100ms;
      background-color: black;
      padding: 8px;
      border-radius: 10px;
      color: white;
    }

    .SignUp {
      border: 3px solid black;
      padding: 5px;
      border-radius: 10px;
    }

    .SignUp:hover {
      background-color: black;
      color: white;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;

    .Logo {
      font-size: 10vh;
      margin: 10px;
    }

    .MenuItem {
      margin: 5px;
    }

    .Search {
      margin: 5px;
      input {
        width: 70vw;
      }
      input::placeholder {
        font-size: 3vh;
        padding: 5px;
        opacity: 0.5;
      }
      i {
        display: none;
      }
    }
    .Auth {
      margin: 20px;
    }
    .Dropdown:hover .DropdownContent {
      display: none;
    }
  }
}
