.Header {

    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    font-family: "Fira Mono";
    font-size: 2.5vh;
    height: 10vh;

    a {
        color: black;
        text-decoration: none;
        margin: 0 10px;
    }

    a:hover{
        scale: 1.1;
        transition: 100ms;
    }

    .Logo {
        font-family: "Libre Barcode 39 Text";
        font-size: 10vh;
    }

    .Search{

        display: flex;
        align-items: center;

        input{
            font-size: 3vh;
            font-family: "Fira Mono";
        }

        i{
            margin-top: 7px;
            font-size: 4vh;
        }
    }

    .Profile {

        display: flex;
        align-items: center;
        height: 100%;

        img {
            height: 80%;
            border-radius: 100%;
            margin-left: 10px;
        }

    }

}

// .Header {

//     width: 100vw;
//     display: flex;
//     background-color: white;
//     justify-content: space-between;
//     align-items: center;

//     i{
//         font-size: 5vh;
//         margin-top: 5px;
//         transition: scale 500ms;
//     }

//     i:hover{
//         scale: 1.1;
//     }

//     .Search{
//         display: flex;
//         align-items: center;

//         input{
//             height: 4vh;
//             font-size: 3vh;
//             font-family: "Fira Mono";
//             width: 12vw;
//             margin-left: 6px;
//         }
//     }

//     a {
//         color: black;
//         text-decoration: none ;
//         font-family: "Fira Mono";
//         font-size: 3vh;
//         margin: 0 10px;
//         transition: scale 500ms, border 500ms;
//     }

//     a:hover {
//         scale: 1.1;
//     }

//     img {
//         height: 4vw;
//         border-radius: 50%;
//         margin-left: 10px;
//     }

//     .Logo {
//         font-family: "Libre Barcode 39 Text";
//         font-size: 8vh;
//     }

//     .Profile {
//         display: flex;
//         align-items: center;
//     }


// }