.Header {

    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;

    button{
        background: none;
        border: none;
    }

    i{
        font-size: 2vw;;
        transition: scale 500ms;
    }

    i:hover{
        scale: 1.3;
    }

    .Search{
        display: flex;
        align-items: center;

        input{
            height: 2vw;
            width: 10vw;
            padding: 0px;
            margin-left: 4px;
        }
    }

    a {
        color: black;
        text-decoration: none !important;
        font-family: "Fira Mono";
        font-size: 1.5vw;
        padding: 1vw;
        border: 2px solid transparent;
        border-radius: 5vw;
        transition: scale 500ms, border 500ms;
    }

    a:hover {
        scale: 1.1;
        border: 2px solid yellow;
        border-radius: 5vw;
    }

    img {
        height: 4vw;
        border-radius: 50%;
        margin-left: 10px;
    }

    .Logo {
        font-family: "Libre Barcode 39 Text";
        font-size: 6vw;
    }

    .Profile {
        display: flex;
        align-items: center;
    }


}