*{
    margin: 0;

}



.NavElement a{
    color: black;
    margin: 10px;
    text-decoration: none !important;
    font-family: "Fira Mono";
    font-size: 2vh;
}

.Logo a{
    font-family: "Libre Barcode 39 Text";
    font-size: 10vh;
}

.NavElement:hover{
    background-color: gray;
}
img{
    height: 8vh;
    border-radius: 50%;
}
.Header{

    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;

}
