img {
  height: 100%;
  width: 10%;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 0px;
}

table {
  border-spacing: 0 10px;
  background-color: #272727;
  width: 100%;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  background-color: #363636;
  text-align: left;
}
td:first-child {
  border-right: none;
}
td:nth-child(2) {
  text-align: left;
}

.imageFilm {
  display: block;
  height: 80%;
  width: 20%;
  flex: wrap;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
