img {
  height: 8em;
  width: 6em;
  border-radius: 10px;
  margin: 1em;
}

table {
  border-spacing: 0 10px;
  font-family: "Fira Mono", monospace;

  font-weight: bold;
  background-color: #272727;
  width: 100%;
  color: white;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  background-color: #363636;
}
td:first-child {
  border-right: none;
}
td:nth-child(2) {
  text-align: left;
}

.imageFilm {
  display: block;
  height: 80%;
  width: 20%;
  flex: wrap;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
