.PageTitle{
    color: white;
    font-family: "Fira Mono";
    font-size: 4vw;
    margin-left: 3vw;
    margin-top: 20px;
    text-align: left;
}

.Sort{
    margin-right: 3vw;
    display: inline-block;
}

.SortElement{
    color:whitesmoke;
    font-size: 1.3vw;
    margin: 5px;
}

.material-icons.SortIcon{
    color: white;
    font-size: 1.7vw;
}

.LikedHeader{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Divider{
    background-color: white;
    border-radius: 32px;
    width: 95%;
    height: 0.3vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
}

.DropdownSortMethods{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    right: 0px;
    padding: 10px;
    z-index: 1;
    transition: display 2s;
}

.SortMethodElement{
    font-size: 1vw;
    background: none;
    border: 0.8px solid transparent;
    text-align: right;
}

.material-icons{
    font-size: 1vw;
    background: none;
    border: none;
}

.SortIconBtn{
    background: none;
    border: none;
    display: flex;
}

.Sort:hover .DropdownSortMethods{
    display: flex;
    flex-direction: column;
}

.SortMethodElement:hover{
    border: 0.8px solid gray;
    border-radius: 12px;
}

.liked-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}