.pages {
  font-family: "Fira mono", monospace;
  background-color: #272727;
  color: #272727;
  width: 100%;
}
.prevButton,
.nextButton {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  margin-left: 50%;
  transform: translateX(-50%);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.prevButton:hover,
.nextButton:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.prevButton:hover svg,
.nextButton:hover svg {
  stroke-dashoffset: -480;
}

.nextButton span,
.prevButton span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
