a {
    font-family: "Fira Mono";
    color: white;
    margin: 10px;
}

.Table{
    align-items: center;
    justify-content: center;
}


.imageCell{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.MoviePoster {
    border-radius: 0%;
}