.Footer {

    a {
        color: rgb(255, 255, 255);
        font-family: "Fira Mono";
    }
    p{
        color: rgb(255, 255, 255);
        font-family: "Fira Mono";
    }
     hr {
        margin-left: 16%;
        margin-right: 16%;
        margin-bottom: 2%;
        
        color: rgb(255, 255, 255);
        
        } 
    text-align: center;
    font-size: large;
    background-color:hsla(0, 0%, 13%, 0.455);
    
}