@import "../Header/Header.module.scss";

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 13%, 0.455);

  .DownloadTorrent {
    font-family: $font-for-text;
    margin: 10px;

    p {
      font-weight: 700;
      margin: 5px;
      color: #7b7a7a;
      font-family: $font-for-text;
    }
    
    a {
      font-weight: 700;
      font-family: $font-for-text;
      margin: 0 5px;
    }

    .Description {
      color: green;
    }

    .Win {
      color: blue;
    }

    .Mac {
      color: orange;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Footer_Links {
    border-top: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;

    .Link {
      display: flex;
      background-color: #474747;
      border-radius: 10px;
      width: auto;
      height: 4vh;
      margin: 30px;
      padding: 10px;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: $font-for-text;
        margin: 10px;
      }
    }

    .Link:hover {
      transform: scale(1.1);
      transition: 200ms;
      cursor: pointer;
    }
  }

  .FireFly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    border-bottom: 1px solid #ffffff;
    font-family: $font-for-text;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 10px;
  }

  .Issue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-family: $font-for-text;
    font-size: 1.5rem;
    color: #505050;
  }

  @media (max-width: 768px) {
    .Footer_Links {
      flex-direction: column;

      .Link {
        margin: 10px;
      }
    }

    .FireFly {
      font-size: 1rem;
      width: 30vw;
    }
  }
}