@import "../Header/Header.module.scss";
.Search{
    .SearchInfo{
        font-family: $font-for-text;
        width: 85vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 1.2em;
    }

    h1, h2{
        color:azure;
        vertical-align: baseline;
        margin: 5vh 0px;
    }

    .Divider{
        height: 6vh;
        width: 3px;
        background-color:yellow;
        display: inline-block;
        margin: 0px 20px 0px 10px;
        vertical-align: middle;
    }

    .SearchValue{
        font-family: $font-for-text;
        font-size: relative;
        font-weight: lighter;
        font-size: 1.2em;
        align-self: center;
        color:azure;
    }

    .Divider2{
        height: 4vh;
        width: 3px;
        background-color:aqua;
        display: inline-block;
        margin: 0px 20px 0px 10px;
        vertical-align: middle;
    }
}