@import "../Header/Header.module.scss";

.Cast {
  font-family: $font-for-text;

  button {
    padding: 10px;
    margin: 5px;
    width: 14vw;
    height: auto ;
    font-family: $font-for-text;
    font-weight: bolder;
    font-size: 1.5vw;
    text-decoration: none;
    box-shadow: 1px 7px 7px 1px #acacac;
    border: 0;
    border-radius: 20px;
    border: 3px solid #e8e8e8;
    background-color: #e8e8e8;
    cursor: pointer;
  }

  button:hover {
    background-color: #1c1c1c;
    border: 3px solid #272727;
    box-shadow: 1px 7px 7px 1px #383838;
    color: white;
  }

  .ActiveButton {
    background-color: #151515;
    color:white;
  }

  .Tabs {
    display: flex;
    width: 80vw;
    padding: 10px 0;
    flex-wrap: wrap;

    .Tab {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #8b8b8b;
      border-bottom: 4px solid;
      border-color: #494949;
      border-radius: 10px;
      margin: 5px;
      padding: 5px;

      img {
        height: 50px;
        border-radius: 5px;
        margin-right: 5px;
      }


      h2 {
        font-size: 1rem;
      }

      h3 {
        font-size: 0.7rem;
      }
    }
  }
}