@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Mono&family=Libre+Barcode+39+Text&display=swap');

.Movie {

    display: flex;
    flex-direction: column;
    align-items: center;

    .Description {
        display: flex;

        img {
            height: 20vw;
            min-width: auto;
            margin: 0 40px;
            border-radius: 5px;
        }

        h1 {
            font-family: "EB Garamond";
            color: white;
            margin: 10px 0;
        }

        h2 {
            margin: 10px 0;
            color: white;
            width: 40vw;
            font-family: "Fira Mono";
        }
    }

    .Backdrop {

        height: 40vh;
        min-height: 400px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;

        img {
            height: 100%;
        }

        .EdgeBlur {
            position: absolute;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 80px 150px inset #272727;
        }
    }

}