@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Mono&family=Libre+Barcode+39+Text&display=swap');

.Movie {

    display: flex;
    flex-direction: column;
    align-items: center;

    .Description {
        display: flex;
        margin: 40px;

        img {
            height: 30vw;
            margin: 10px;
        }

        h1 {
            font-family: "EB Garamond";
            color: white;
        }

        h2 {
            width: 40vw;
            font-family: "Fira Mono";
        }
    }

    pre {
        color: white
    }

    .Backdrop {

        width: 60vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            // opacity: 0;
            // filter: blur(1px)
        }

        padding: 50px;
        div {
            position: absolute;
            top: 0px;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 80px 150px inset #272727;
        }
    }

}