@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import "../Header/Header.module.scss";

.Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  table {
    width: 90%;
    font-family: "Fira Mono", monospace;
    font-size: 24px;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 1200px;
  }
  th {
    border-bottom: 1px solid #ffffff;
  }
  td {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #343434;
  }
  td:first-child {
    border-right: none;
  }
  td:nth-child(2) {
    text-align: center;
  }
  td:nth-child(3) {
    width: 70%;
  }

  .MoviePoster {
    height: 150px;
    border-radius: 10px;
    scale: 1;
    -webkit-transition: 2s ease; /* Safari and Chrome */
    -moz-transition: 2s ease; /* Firefox 4 */
    -o-transition: 2s ease; /* Opera */
  }
  .MoviePoster:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 2s ease-in-out;
  }
  .MoviePoster::before {
    cursor: pointer;
    scale: 1;
    -webkit-transition: 2s ease; /* Safari and Chrome */
    -moz-transition: 2s ease; /* Firefox 4 */
    -o-transition: 2s ease; /* Opera */
  }

  .Link:hover {
    border-bottom: 1px solid white;
  }

  .Link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: $font-for-text;
    margin: 10px;
  }

  .Link:visited {
    color: gray;
    border-bottom: 1px solid darkgray;
  }

  .Pages {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    order: 0;
    align-items: flex-start;
    align-content: center;
    margin: 20px;
  }

  .PageButton {
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 5px 2px 5px 2px;
    padding: 10px;
    margin: 20px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: $font-for-text;
    text-transform: uppercase;
  }

  .PageButton:hover {
    background-color: #ffffff;
    color: #343434;
  }

  .PageButton:active {
    background-color: #343434;
    color: white;
    border: none;
  }

  @media (max-width: 768px) {
    .Table {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: auto;
      
      
    }
  }

  .FilmsList_mobile {
    width: 90%;

    .FilmCell_mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      height: 180px;
      background-color: #343434;
      border-radius: 15px;
      margin: 30px 5px 30px 5px;

      a {
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-family: $font-for-text;
        img {
          height: 130px;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-align: end;

          div {
            display: flex;
            flex-direction: column;
            justify-content: start;

            h3 {
              font-size: 1em;
              margin: 10px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            p {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
