@import "../Header/Header.module.scss";

.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  h1 {
    font-family: $font-for-title;
    font-size: 60px;
    color: white;
  }

  input {
    background-color: #D0D0D0;
    margin: 15px;
    font-family: $font-for-text;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition: 1000ms;
  }
  input:focus {
    border: none;
    outline: none;
    background-color: #bdbdbd;

  }
  input::placeholder {
    opacity: 30%;
    color:rgb(56, 56, 56)
  }

  button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-family: $font-for-text;
    font-size: 20px;
    background-color: #D0D0D0;
    color: black;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(56, 56, 56);
    color: white;
  }

  .ErrorWindow {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: $font-for-text;
    font-size: 20px;
  }

  .ResetPassword {
    cursor: pointer;
    font-family: $font-for-text;
    margin: 10px;
    color: #bdbdbd;
  }

  .ResetPassword:hover{
    color: white;
  }

}