@import "../Header/Header.module.scss";

.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  h1 {
    font-family: $font-for-title;
    font-size: 60px;
    color: white;
  }

  input {
    background-color: lightgray;
    margin: 20px;
    font-family: $font-for-text;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    transition: 1000ms;
  }

  input:focus {
    scale: 1.1;
    transition: 1000ms;
  }

  button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-family: $font-for-text;
    font-size: 20px;
    background-color: darkgray;
    color: black;
    border: none;
        cursor: pointer;
  }

  button:hover {
    background-color: rgb(56, 56, 56);
    color: white;
  }
}
